*.lex.c
*.tab.c
*.o
src/mconf
config.log
.deps
.dirstamp
.cache
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.status
configure
depcomp
install-sh
missing
build-aux
stamp-h1
config.h*

menuconfig-*.tar.gz
menuconfig-*/
src/conf
test-driver
tests/test-suite.log
tests/test.sh.log
tests/test.sh.trs
